<footer class="mt-auto bg-light border-top text-center p-3">
    <div class="row">
        <a class="col" href="https://github.com/oscarjundt/project">Source code</a>
        <a class="col" href="https://www.linkedin.com/in/oscar-jundt-schmitter">Author</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</footer>
