<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${education?.degree}"></title>
    <th:block th:include="common/head.html">
    </th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<header class="bg-light border-bottom text-center p-2 shadow">
    <h1 th:text="${education?.degree}"></h1>
    <h6 th:text="${education?.school}"></h6>
</header>
<section>
    <a th:href="|/${userId}|">
        <i class="bi bi-arrow-left-circle-fill"></i>Back
    </a>
    <div class="card m-3 shadow">
        <div class="card-header">
            <h3>Global description</h3>
        </div>
        <div class="card-body">
            <div class="row text-center">
                <p class="col">
                    Start date: <span th:text="${education.startDate}"></span>
                </p>
                <p class="col">
                    End date: <span th:text="${education.endDate ?: 'Today'}"></span>
                </p>
                <p class="col">
                    Level of education: <span th:text="${education.level}"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="card m-3 shadow">
        <div class="card-header">
            <h3>List of Skills</h3>
        </div>
        <div class="card-body">
            <div class="list-group m-3">
                <a th:each="skill:${skills}" class='list-group-item list-group-item-action act' target='_blank'
                   th:text="${skill.label}"></a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="common/footer"></footer>
</body>
</html>
