<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${users?.name}"></title>
    <th:block th:include="common/head.html">
    </th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<header class="bg-light border-bottom text-center p-3 shadow">
    <h1 th:text="${users.name}"></h1>
</header>
<section>
    <div class="card m-3 shadow">
        <div class="card-header">
            <h3>Global description</h3>
        </div>
        <div class="card-body">
            <div class="row text-center">
                <p class="col">
                    Current job/status: <span th:text="${users?.getExperienceActual()}"></span>
                </p>
                <p class="col">
                    Current address: <span th:text="${users.getAddress()}"></span>
                </p>
                <p class="col">
                    Phone number: <span th:text="${users?.getNumberPhone()}"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="card m-3 shadow">
        <div class="card-header">
            <h3>List of Experiences</h3>
        </div>
        <div class="card-body">
            <div class="list-group m-3">
                <a th:each="experience:${experiences}" class='list-group-item list-group-item-action act'
                   th:href="|experience/${experience.id}|"
                   th:text="|${experience.label} at ${experience.company} (${experience.startDate} <-> ${experience.endDate ?: 'Today'})|">
                </a>
            </div>
        </div>
    </div>
    <div class="card m-3 shadow">
        <div class="card-header">
            <h3>List of Educations</h3>
        </div>
        <div class="card-body">
            <div class="list-group m-3">
                <a th:each="education:${educations}" class='list-group-item list-group-item-action act'
                   th:href="|education/${education.id}|"
                   th:text="|${education.degree} (${education.level})|"></a>
            </div>
        </div>
    </div>
    <div class="card m-3 shadow">
        <div class="card-header">
            <h3>List of Skills</h3>
        </div>
        <div class="card-body">
            <div class="list-group m-3">
                <a th:each="skill:${skills}" class='list-group-item list-group-item-action act' target='_blank'
                   th:text="${skill.label}"></a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="common/footer"></footer>
</body>
</html>
