<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PortFolio</title>
    <th:block th:include="common/head.html">
    </th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<header class="bg-light border-bottom text-center p-3">
    <h1>Site PortFolio</h1>
</header>
<section>
    <div class="card m-3">
        <div class="card-header">
            <h3>Liste des utilisateurs</h3>
        </div>
        <div class="card-body">
            <div class="list-group m-3">
                <a th:each="tag:${users}" class='list-group-item list-group-item-action act' target='_blank'
                   th:href="@{'/'+${tag.getId()}}" th:text="${tag.getName()}"></a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="common/footer"></footer>
</body>
</html>
